.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100%-1.4rem);
  padding: 1.4rem;
}

.container {
  gap: 0.8rem;
}

.title {
  font-size: 5rem;
  font-weight: 800;
  color: #eee;
}

.description {
  color: #eee;
  margin-bottom: 3rem;
}

@media (min-width: 1280px) {
  .title {
    padding-right: 2.6rem;
  }

  .description {
    padding-right: 2.6rem;
  }
}

.ctaContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.cta {
  border-radius: 0.6rem;
  border: 1px solid #eee;
  background: none;
  color: #eee;
  padding: 0.8rem 1.6rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.cta:hover {
  background: #eee;
  color: #1d1d1d;
}
