.nav {
    transition-timing-function: ease-in;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 30px;
    padding-right: 50px;
}

.nav__logo {
    width: 80px;
    height: 30px;
    object-fit: contain;
    left: 20px;
}

.nav__avatar {
    width: 30px;
    height: 30px;
    border-radius: 9999px;
    object-fit: contain;
}

.nav__black {
    background-color: #111111;
    padding: 14px 30px;
    padding-right: 50px;
}