.wrapper {
  widht: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.mintCard {
  height: 20rem;
  width: 30rem;
  background-color: #353534;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0px 0px 50px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px 8px rgba(0, 0, 0, 0.5);
}
